<mat-toolbar color="primary">
    <h1>TODO app with material design</h1>    
</mat-toolbar>

<!--
<button (click)="countIncrement()">Click to increment</button>
<button (click)="countDecrement()">Click to decrement</button>
<p *ngIf="count==2">My name is {{name | uppercase}} and my count variable is 2</p>
<p>The count is {{ count }}</p>
<li *ngFor="let car of listOfCars">{{ car }}</li>
<button (click)="doSomething()">PUSH THE APPLE</button>
<br>
<input type="text" [(ngModel)]="work">
<button (click)="hai()">haiii</button>
<p>{{ work }}</p>
-->